<ion-header>
  <ion-buttons>
    <ion-menu-button ></ion-menu-button>
  </ion-buttons>
</ion-header>

<ion-content padding>

  <div class="container">
    <ion-icon src="assets/folder-empty.svg"></ion-icon>
    <h4>Assessment Batteries</h4>
    <p>An assessment battery is a customised <br>
    collection of assessments grouped together<br>
    to save you time.</p>
    <div text-center style="margin-left: auto; margin-right: auto;">
        <ion-button color="success" (click)="presentModal()" >Create</ion-button>
    </div>

  </div>

</ion-content>
