// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';



@media (min-width: 900px) {
    .modal-wrapper{
        --min-height: 55% !important;
        --max-height: 80% !important;
        --width: 60% !important;
        --border-radius: 5px;
        --background: #f4f4f4 !important;
    }
}

@media (min-width: 300px) and (max-width: 899px) {
    .modal-wrapper{
        --min-height: 55% !important;
        --max-height: 80% !important;
        --width: 90% !important;
        --border-radius: 5px;
        --background: #f4f4f4 !important;

    }
}